<h2>Editer le livre</h2>
<form #f="ngForm" (ngSubmit)="editBook(f)" >
  <div class="mb-3">
    <label for="title" class="form-label">Titre</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      ngModel
      #title="ngModel"
      [(ngModel)]="book!.title"
      required>
    <div class="alert alert-danger" role="alert" *ngIf="title.invalid && title.touched">
      Le champ Titre est obligatoire
    </div>
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Auteur</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      ngModel
      #author="ngModel"
      [(ngModel)]="book!.author"
      required>
    <div class="alert alert-danger" role="alert" *ngIf="author.invalid && author.touched">
      Le champ Titre est obligatoire
    </div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Prix</label>
    <input
      type="text"
      class="form-control"
      id="price"
      name="price"
      ngModel
      [(ngModel)]="book!.price"
      #price>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="f.invalid"  >Valider</button>
</form>
