<h2>Recherche : </h2>
  <input type="search" value="" class="form-control" #search>
  <button class="btn btn-primary" (click)="searchBook(search.value)">Rechercher</button>

<h2>Liste des livres</h2>
<button class="btn btn-success" [routerLink]="['/add']">Ajouter un livre</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Prix</th>
      <th scope="col">Editer</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of filteredBooks">
      <th scope="row">{{book.id}}</th>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.price}}</td>
      <td><button class="btn btn-info" (click)="showDetail(book)">Voir détails</button></td>
      <td><button class="btn btn-primary" [routerLink]="['/edit', book.id]">Editer</button></td>
      <td><button class="btn btn-danger" (click)="deleteBook(book.id)">Supprimer</button></td>
    </tr>
  </tbody>
</table>

<div *ngIf="activeBook !== undefined">
  <h2>Détails :</h2>
  <ul >
    <li>Id : {{activeBook!.id}}</li>
    <li>Titre : {{activeBook!.title}}</li>
    <li>Auteur : {{activeBook!.author}}</li>
    <li>Prix : {{activeBook!.price}}</li>
  </ul>
  <button class="btn btn-danger" (click)="showDetail(undefined)">Fermer</button>
</div>
