<app-search (searchEvent)="searchBook($event)"></app-search>

<h2>Liste des livres</h2>
<button class="btn btn-success" [routerLink]="['/add']">Ajouter un livre</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Prix</th>
      <th scope="col">Editer</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of filteredBooks">
      <th scope="row">{{book.id}}</th>
      <td>{{book.title | uppercase}}</td>
      <td>{{book.author}}</td>
      <td>{{book.price | currency:'DTN':'code':'2.3-3' }}</td>
      <td><button class="btn btn-info" (click)="showDetail(book)">Voir détails</button></td>
      <td>
        <button
          class="btn btn-primary"
          [routerLink]="['/edit', book.id]">
          Editer
        </button>
      </td>
      <td><button class="btn btn-danger" (click)="deleteBook(book.id)">Supprimer</button></td>
    </tr>
    <!--tr *ngFor="let book of filteredBooks" app-book [bookItem]="book"></tr-->
  </tbody>
</table>

<app-detail-book
  [book]="activeBook">
</app-detail-book>
